// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-red {
  color: #fff;
  background-color: rgba(228, 23, 73, 1);
  border-color: rgba(228, 23, 73, 1);
  border-radius: 4px;
  text-decoration: none;
  padding:8px;
}

.btn-red a {
  color: white
}

h3 {
  margin-top: 20px;
  color: rgba(228, 23, 73, 1);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: regular;
}
